@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


// SPAN alacat_cart_area + [alacat_cart_always] <-- area the user can hover over to display the icon
//                                                  alacat_cart_always disables hover-to-show
//     ...gumpf... <-- stuff the area actually contains
//     SPAN alacat_cart_outer <-- the white background (also the thing we hide and show) 
//         SPAN alacat_cart + (alacat_is_in_cart | alacat_is_not_in_cart) <-- the icon
.alacat_cart_area
{
    position : relative;

    &.alacat_cart_always
    {
        background-color : transparent;
    }

    &.alacat_cart_always > .alacat_cart_outer,
    &.alacat_is_in_cart > .alacat_cart_outer,
    &:hover > .alacat_cart_outer
    {
        display : inline-block;
    }

    > .alacat_cart_outer
    {
        display          : none;
        left             : 100%;
        top              : 0;
        position         : absolute;
        background-color : white;
        min-width        : 1em;
        min-height       : 1em;
        max-width        : 1em;
        max-height       : 1em;
        z-index          : 1;
        border-radius    : 8px;

        /* add-to-cart icon */
        .alacat_cart
        {
            background-color      : navy;

            left                  : 100%;
            top                   : 0;
            vertical-align        : top;
            display               : inline-block;
            min-width             : 1em;
            min-height            : 1em;
            max-width             : 1em;
            max-height            : 1em;

            mask-position         : 0.05em 0.05em;
            mask-size             : 0.9em 0.9em;
            mask-repeat           : no-repeat;
            -webkit-mask-position : 0.05em 0.05em;
            -webkit-mask-size     : 0.9em 0.9em;
            -webkit-mask-repeat   : no-repeat;

            &:hover
            {
                background-color : red;
            }
        }
    }
}


/* add-to-cart icon, is already in cart */
.alacat_cart_area.alacat_is_in_cart > .alacat_cart_outer > .alacat_cart
{
    mask-image         : var(--in_basket_image);
    -webkit-mask-image : var(--in_basket_image);
}


/* cart button, is not already in cart */
.alacat_cart_area.alacat_is_not_in_cart > .alacat_cart_outer > .alacat_cart
{
    mask-image         : var(--not_in_basket_image);
    -webkit-mask-image : var(--not_in_basket_image);
}

/* cart button, busy processing */
.alacat_cart_area.alacat_unknown_in_cart > .alacat_cart_outer > .alacat_cart
{
    mask-image         : var(--loading24_image);
    -webkit-mask-image : var(--loading24_image);
}

/* preload these images in a hidden section so when the user clicks the cart icons they update immediately */
.alacat_cart_box::after
{
    position : absolute;
    width    : 0;
    height   : 0;
    overflow : hidden;
    z-index  : -1;
    content  : var(--in_basket_image) var(--not_in_basket_image) var(--loading24_image);
}

.alacat_cart_updated_anim
{
    animation : linear 0.5s alacat_cart_updated_animation;
}

@keyframes alacat_cart_updated_animation
{
    0%
    {
        filter : blur(4px);
    }
    100%
    {
        filter : blur(0px);
    }
}

/* SCORES */

.alacat_pass
{
    color : green;
}

.alacat_red
{
    color : red;
}

.alacat_amber
{
    color : orange;
}

.alacat_info
{
    color : blue;
}

.alacat_error
{
    color : magenta;
}

/* AA COLOURS */
.alacat_aa_red
{
    color : red;
}

.alacat_aa_end
{
    color : gray;
}

.alacat_aa_normal
{
    color : black;
}

/* GRADE FLAGS */

.alacat_grade_box_pass,
.alacat_grade_box_red,
.alacat_grade_box_amber,
.alacat_grade_box_info,
.alacat_grade_box_error
{
    display       : inline-block;
    min-width     : 1em;
    min-height    : 1em;
    max-width     : 1em;
    max-height    : 1em;
    border-radius : 2px;
    border        : 2px solid black;
    background    : #FFFFFF80;
    text-align    : center;
}

.alacat_grade_box_pass
{
    color        : green;
    border-color : #B0FFB0;
}

.alacat_grade_box_red
{
    color        : red;
    border-color : #FFB7B7;
}

.alacat_grade_box_amber
{
    color        : orange;
    border-color : #FFE4B7;
}

.alacat_grade_box_info
{
    color        : blue;
    border-color : #B4B4FF;
}

.alacat_grade_box_error
{
    color        : magenta;
    border-color : #FFBAFF;
}

.alacat_score_code
{
    display       : inline-block;
    color         : white;
    font-variant  : all-small-caps;
    font-size     : xx-small;
    min-width     : 1.2em;
    min-height    : 1.2em;
    border-radius : 0.2em;
    text-align    : center;
}

.alacat_score_code:hover
{
    background : rgba(255, 128, 0, 0.5);
}

.alacat_technical
{

}


.alacat_selection_block
{
    display : inline-block;
}

.alacat_selection_block .hatmul_flat_image
{
    background-color : grey;
    max-width        : 0.9em;
    max-height       : 0.9em;
    min-width        : 0.9em;
    min-height       : 0.9em;
    vertical-align   : middle;
}

.alacat_rank
{
    display     : inline-block;
    color       : grey;
    font-weight : bold;
    position    : relative;
}

.alacat_sub_sup
{
    display : inline-block;
}

.alacat_sup,
.alacat_sub
{
    position    : relative;
    display     : block;
    font-size   : .5em;
    line-height : 1.2;
}

.alacat_sub
{
    top : .3em;
}

.alacat_linker_nat
{
    color : green;
}

.alacat_linker_syn
{
    color : red;
}

.alacat_natural
{
    color : darkviolet;
}

.alacat_sequence
{
    word-break : break-all;
    color      : #808080;
}

.alacat_ss
{
    line-height : 1.5em;

    > a.alacat_sst
    {
        color      : #FF0080;
        visibility : hidden;
    }

    &:hover > .alacat_sst
    {
        visibility : visible;
    }

    > .alacat_ss
    {
        border-bottom  : 2px solid #E0E0E0;

        padding-bottom : 3px;

        a.alacat_sst
        {
            color : #0000FF;
        }

        &:hover
        {
            color         : #000080;
            border-bottom : 2px solid #0000FF;
        }

        > .alacat_ss
        {
            padding-bottom : 6px;

            a.alacat_sst
            {
                color : #FF0000;
            }

            &:hover
            {
                color         : #800000;
                border-bottom : 4px solid #FF0000;
            }

            > .alacat_ss
            {
                padding-bottom : 9px;

                a.alacat_sst
                {
                    color : #00FF00;
                }

                &:hover
                {
                    color         : #008000;
                    border-bottom : 4px solid #00FF00;
                }
            }
        }
    }
}


.alacat_aa
{
    font-family : "Concert One", monospace;
}

.alacat_peptide_line
{
    border-radius : 4px;
    font-family   : "Concert One", monospace;
}

.alacat_code
{
    font-family : monospace;
}


.alacat_cart_box,
.alacat_return_to_model,
{
    padding       : 0 1em;
    text-align    : left;
    white-space   : nowrap;
    display       : inline-block;
    box-sizing    : border-box;
    background    : white;
    border-radius : 8px;
    font-size     : 22px;
    text-shadow   : none;

    .hatmul_flat_image
    {
        transform  : translateY(3px);
        max-width  : 1em;
        max-height : 1em;
        min-width  : 1em;
        min-height : 1em;
    }
}

